ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #404040;
  padding-top: 7px;
}

.header a {
  color: #AAAAAA;
  font-weight: bold;
  margin: 0 15px;
  text-decoration: none;
}

.header a:hover {
  color: #FFFFFF;
}

.header .actions {
  color: #FFFFFF;
  float: right;
}

.image-gallery .thumb-wrap {
  float: left;
  height: 110px;
  width: 110px;
  overflow: hidden;
}

.image-gallery .thumb {
  padding: 5px;
}

.image-gallery .x-item-selected .thumb {
  background-color: #99BBE8;
}

.image-gallery .thumb img {
  width: 100px;
}

/* breadcrumb */
.crumbs, .crumbs .x-panel-body-default {
  background-color: #D3E1F1;
}

.crumbs li {
  float:left;
  padding-left:10px;
}

.crumbs li.first {
  padding-left:0px;
}

.crumbs li a {
  border-right: none;
  background: url(../img/separator-arrow.gif) no-repeat right center;
  display:block;
  padding:0 15px 0 0;
  text-decoration:none;
  cursor:pointer;
  color: #3B5998;
}

.crumbs li a:hover {
  text-decoration:underline;
}

.crumbs li.current a {
  background: none;
}

.crumbs li a:hover, .crumbs li a:focus {
  text-decoration:underline;
}
