body {
  color: #1A1A1A;
  font-family: "Segoe UI","Fuse-Segoe-UI",sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

p, dl {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #2E92CF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: #EFEFEF;
  height: 40px;
  margin-bottom: 10px;
}

footer {
  background-color: #EFEFEF;
  height: 50px;
  margin-top: 20px;
}

.body {
  min-height: 300px;
}

.body .container {
  margin: 0 auto;
  width: 980px;
}

header .actions {
  float: right;
  margin: 10px 10px 0 0;
}

.logged {
  margin-right: 10px;
}

.actions a {
  margin: 0 0 0 3px;
}

.logo {
  margin: 6px 0 0 8px;
}

.box {
  border: 1px solid #CECECE
}

.button {
  background-color: #D9D9D9;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #222222;
  cursor: pointer;
  line-height: 16px;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle;
}

.button:active {
  background-color: #1D1D1D;
  border-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}

.button.small {
  font-size: 11px;
  padding: 2px 10px;
}

.button.primary {
  background-color: #16499A;
  color: #FFFFFF;
}

button.link {
  background-color: rgba(0, 0, 0, 0);
  color: #2E92CF;
}

button.link:hover {
  text-decoration: underline;
}

.copy {
  color: #666666;
  float: right;
  padding: 5px 5px 0 0;
}

.column {
  width: 380px;
  float: left;
}

.second {
  margin-left: 20px;
}

.menu {
  float: right;
  width: 180px;
}

.menu .ads {
  background-color: #EFEFEF;
  height: 180px;
  margin-bottom: 5px;
}

.item {
  margin-bottom: 20px;
}

.item img {
  left: 0;
  margin: auto;
  max-width: 358px;
  position: absolute;
  right: 0;
}

.item .photos {
  margin: 10px;
  min-height: 293px;
  overflow: hidden;
  position: relative;
}

.item .actions {
  margin: 10px;
}

.item .description {
  background: none repeat scroll 0 0 rgba(87, 186, 232, 0.8);
  bottom: -65px;
  color: #FFFFFF;
  font-size: 17px;
  height: 90px;
  position: absolute;
  transition: all 0.7s ease 0s;
  width: 100%;
}

.item .photos:hover .description {
  bottom: 0px
}

.item .title {
  color: #FFFFFF;
  padding-left: 5px;
}

.item .price {
  float: right;
  font-weight: bold;
  padding-right: 5px;
}

.item .details ul {
  margin-left: 5px;
  font-size: 15px;
}

.comments {
  margin: 10px;
}

.comment {
  background-color: #EFEFEF;
  margin-bottom: 7px;
  padding: 5px;
}

.column .item img.no-photo {
  margin-top: 60px;
}

.suggestions .item .photos {
  min-height: 160px;
}

.suggestions .item .location, .suggestions .item .price {
  display: none;
}

/** blocks of content with header */
.block {
  border: 1px solid #EAEAEA;
  font-weight: 300;
  margin: 10px 0 0 0;
}

.block-header {
  background-color: #4390DF;
  color: #FFFFFF;
  font-size: 22px;
  padding: 5px 10px;
}

.block-content {
  font-size: 18px;
  padding: 10px;
}

/** Images centered */
.centered {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/** Status messages */
.status {
  font-size: 18px;
  margin: 10px 0;
  padding: 5px 10px;
}

.status.ok {
  background-color: #eaffd6;
  border: 1px solid #60A917;
}

.status.error {
  background-color: #FFC0C3;
  border: 1px solid #FCA8AB;
}

/** Forms */
input[type="button"], input[type="submit"], input[type="reset"] {
  background-color: #D9D9D9;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #222222;
  cursor: pointer;
  margin: auto;
  padding: 4px 12px;
}

fieldset {
  border: 0 none;
  padding: 0;
}

legend {
  border-color: #E5E5E5;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #333333;
  line-height: 40px;
  margin-bottom: 18px;
  width: 100%;
}

label {
  display: block;
  margin: 5px 0;
}

.field input {
  border: 1px solid #D9D9D9;
  padding: 2px 5px;
  width: 99%;
}

.field {
  margin-bottom: 12px; 
}

.buttons {
  margin-top: 15px;
}

/** Registration form */
.registration {
  font-size: 120%;
}

.registration input[type="button"], .registration input[type="submit"],
  .registration input[type="reset"] {
  font-size: 14px;
}

.registration legend {
  font-size: 22px;
  line-height: 40px;
}

.registration .field input {
  font-size: 170%;
}

/** Context of the current view */
.context {
  height: 55px;
  margin: 5px 0;
}
