<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

  <mvc:resources mapping="/css/**" location="/css/" />
  <mvc:resources mapping="/img/**" location="/img/" />
  <mvc:resources mapping="/script/**" location="/script/" />
  <mvc:resources mapping="/extjs/**" location="/extjs/" />

  <mvc:annotation-driven />

  <context:component-scan base-package="com.ibiscus.propial.web.controller" />

  <!-- freemarker config -->
  <bean id="freemarkerConfig" class="com.ibiscus.propial.infraestructure.freemarker.FreeMarkerConfigurer">
    <property name="templateLoaderPath" value="src/main/webapp/WEB-INF/ftl/"/>
    <property name="debug" value="true" />
  </bean>

  <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
    <property name="cache" value="true"/>
    <property name="prefix" value=""/>
    <property name="suffix" value=".ftl"/>
  </bean>
  <!-- bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
      <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
      <property name="prefix" value="/WEB-INF/jsp/"/>
      <property name="suffix" value=".jsp"/>
  </bean-->

  <bean id="publicationRepository" class="com.ibiscus.propial.domain.business.PublicationRepository">
    <constructor-arg index="0" ref="datastoreService"></constructor-arg>
  </bean>

  <bean id="userRepository" class="com.ibiscus.propial.domain.security.UserRepository">
    <constructor-arg index="0" ref="datastoreService"></constructor-arg>
  </bean>
  <bean id="contractRepository" class="com.ibiscus.propial.domain.security.ContractRepository">
    <constructor-arg index="0" ref="datastoreService"></constructor-arg>
  </bean>

  <!-- Datastore -->
  <bean id="datastoreService" class="com.google.appengine.api.datastore.DatastoreServiceFactory" factory-method="getDatastoreService" />
</beans>